<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        {{!-- nav search button --}}

        <form action="/admin/search" method="post" class="d-flex w-auto">
            <input type="text" class="form-control" placeholder="search user" name="user" aria-label="Search" />
            <button class="btn btn-outline-primary" type="submit" data-mdb-ripple-color="dark">
                Search
            </button>
        </form>

        {{!-- right side nav buttons --}}

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/admin/home"><button class="btn btn-primary">ALL USER</button></a>
            <a href="/admin/add"><button class="btn btn-success ">ADD USER</button></a>
            <a href="/admin/logout"><button class="btn btn-danger ">LOGOUT</button></a>
        </div>

    </div>
</nav>